#main-container{
  text-align: center;
  margin-top: 30px;
}

.container-titolo-ricette{
  height: 50px;
  position: relative;
}

.titolo-ricetta{
  margin-top: 20px;
  font-size: medium;
  font-family: 'HomemadeApple';
  color: dark;
}
