.container-ricetta{
  .ricetta-image{
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container-descrizione{
    text-align: center;
    .titolo-ricetta{
      font-family: 'Homemade Apple', cursive;
      font-size: 40px;
      text-shadow: black 2px, 2px, 3px;
      margin-top: 30px;
      margin-bottom: 25px;
    }
    p{
      font-size: medium;

    }
  }

}
