.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 21px;
 }

 .icona-cibando{
  width: 40px;
  height: 40px;
  margin-right: 5rem;
 }


//  .user{
//   max-width: 100%;
//   min-width:max-content;
// }

.user-loggato{
  display: flex;
  flex-direction: row;
}

