<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark rosso">
    <div class="container-fluid">
      <img src="../assets/images/icona-cibando.png" class="icona-cibando">
      <a class="navbar-brand" href="#">Cibando</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <fa-icon [icon]=" faHome" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <fa-icon [icon]="faShrimp" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link" href="#">Ricette</a>
          </li>
          <fa-icon [icon]="faRectangleList" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link" href="#">Contatti</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>

  <ngb-carousel *ngIf="images.length > 1">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="percorso + image.id + '.jpg'" [alt]="image.label" class="img-fluid" />
      </div>
      <div class="carousel-caption">
        <h3>{{image.label}}</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>

  </ngb-carousel>
<div *ngIf="images.length == 1">
  <img [src]="percorso + images[0].id + '.jpg'" [alt]="images[0].label" class="img-fluid" />
</div>

<!-- da risolvere dimensione immagine-->
<div *ngIf="images.length == 0">
  <img src="https://picsum.photos/1000/300"  class="img-fluid no-image-carosello"/>
</div>

<div id="main-container">
  <div class="container-titolo">
    <h2 class="justify-content-center">App di esempio</h2>
    <p class="paragrafo">Ecco un testo dentro un paragrafo</p>
  </div>
</div>

<div id="contenitore-switch" [ngSwitch]="colore" class="d-flex justify-content-center">

  <div *ngSwitchCase="'green'" [style]="'background:' + colore">compare se il colore é VERDE</div>
  <div *ngSwitchCase="'blue'" [style]="'background:' + colore">compare se il colore é BLU</div>
  <div *ngSwitchCase="'red'" [style]="'background:' + colore">compare se il colore é ROSSO</div>
  <div *ngSwitchDefault="''">compare se il colore non é stato scelto</div>
</div>

<router-outlet></router-outlet>
